@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

body{
    background-color: #1F2641;
}

/* navbar */

.navbar{
    background-color: #FFFFFF;
    width: 100%;
    height: 75px;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.navbar a{
    color: #1F2641;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.navbar a:hover{
    color: #CC8605;
}

.navbar .active{
    color: #CC8605;
    text-decoration: underline;
}

.nav-user a{
    margin-left: 20px;
    color: #1F2641;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

#mytrickster-logo{
    background-color: none;
    width: 100px;
    height: 60px;
    margin-top: 5px;
}

/* content  */

h1{
    margin: 50px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: #1F2641;
    -webkit-text-stroke: 2.5px #FFA800;
}

#container{
    background-color: #060526;
    margin: 60px auto;
    margin-bottom: 90px;
    padding-bottom: 40px;
    width: 80%;
    height: auto;
    border-radius: 30px;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
}

#container h2{
    margin-left: 50px;
    padding-top: 40px;
    color: #FFFFFF;
    font-size: 25px;
}

#container p{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}

#container ul{
    margin-left: 80px;
    margin-right: 50px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}

/* footer */

.footer{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer p{
    padding: 15px;
}

.footer a{
    color: #1F2641;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

.footer-a{
    margin-bottom: 30px;
}

.footer a:hover{
    text-decoration: underline;
}

.footer #mytrickster-logo{
    background-color: none;
    width: 100px;
    height: 60px;
    margin-top: 30px;
}