@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

body{
    background-color: #1F2641;
}

/* navbar */

.navbar{
    background-color: #FFFFFF;
    width: 100%;
    height: 75px;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.navbar a{
    color: #1F2641;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.navbar a:hover{
    color: #CC8605;
}

.navbar .active{
    color: #CC8605;
    text-decoration: underline;
}

.nav-user a{
    margin-left: 20px;
    color: #1F2641;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

#mytrickster-logo{
    background-color: none;
    width: 100px;
    height: 60px;
    margin-top: 5px;
}

/* content  */

h1{
    margin: 50px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: #1F2641;
    -webkit-text-stroke: 2.5px #FFA800;
}

#content{
    color: #FFFFFF;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 60px;
}

#content h2{
    font-size: 25px;
    margin-bottom: 20px;
}

#content h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

#content ul,
#content ol{
    margin-left: 50px;
    font-size: 20px;
}

#content p,
#content ul,
#content ol{
    font-size: 20px;
    margin-bottom: 40px;
}

/* footer */

.footer{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer p{
    padding: 15px;
}

.footer a{
    color: #1F2641;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

.footer-a{
    margin-bottom: 30px;
}

.footer a:hover{
    text-decoration: underline;
}

.footer #mytrickster-logo{
    background-color: none;
    width: 100px;
    height: 60px;
    margin-top: 30px;
}

@media only screen and (min-width: 1360px){
    #content{
        margin-left: 120px;
        margin-right: 120px;
    }
    
}

@media only screen and (min-width: 1440px){
    #content{
        margin-left: 150px;
        margin-right: 150px;
    }
    
}

@media only screen and (min-width: 1680px){
    #content{
        margin-left: 275px;
        margin-right: 275px;
    }
    
}

@media only screen and (min-width: 1920px){
    #content{
        margin-left: 375px;
        margin-right: 375px;
    }

}

@media only screen and (max-width: 767px){
    .navbar a{
        font-size: 13px;
    }

    #mytrickster-logo{
        width: 80px;
        height: 40px;
    }

    .footer p{
        font-size: 12px;
    }

    .footer a{
        font-size: 12px;
        margin: 10px;
    }

    .footer #mytrickster-logo{
        width: 80px;
        height: 50px;
        margin-top: 20px;
    }

    
}

@media only screen and (max-width: 480px){
    .navbar a{
        font-size: 13px;
    }

    #mytrickster-logo{
        width: 80px;
        height: 40px;
    }

    #content{
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 60px;
    }

    #content h2{
        font-size: 20px;
    }

    #content p,
    #content ul,
    #content ol{
        font-size: 15px;
        margin-bottom: 40px;
    }

    .footer p{
        font-size: 10px;
    }

    .footer a{
        font-size: 10px;
        margin: 10px;
    }
    
    .footer #mytrickster-logo{
        width: 80px;
        height: 50px;
        margin-top: 20px;
    }
}