@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

body{
    background-color: #1F2641;
}

/* navbar */

.navbar{
    background-color: #FFFFFF;
    width: 100%;
    height: 75px;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.navbar a{
    color: #1F2641;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.navbar a:hover{
    color: #CC8605;
}

.navbar .active{
    color: #CC8605;
    text-decoration: underline;
}

.nav-user a{
    margin-left: 20px;
    color: #1F2641;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

#mytrickster-logo{
    background-color: none;
    width: 100px;
    height: 60px;
    margin-top: 5px;
}

/* content  */

h1{
    margin: 50px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: #1F2641;
    -webkit-text-stroke: 2.5px #FFA800;
}

.town{
    background-color: #FFFFFF;
    margin: 0;
    /* margin-bottom: 60px; */
    /* width: 530px;
    height: 600px; */
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.towns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* width: 530px;
    height: 600px; */
    gap: 50px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 70px;


    /* margin: 70px; */
    /* padding-left: 70px; */
    /* margin-bottom: 30px; */
}

.image{
    /* width: 480px;
    height: 285px; */
    width: 90%;
    height: 285px;
    border-radius: 20px;
    margin: 25px;
    margin-bottom: 10px;
}

.title,
.desc{
    text-align: center;
    color: #1F2641;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.title{
    font-weight: bold;
    margin: 10px;
}

.towns button{
    width: 90px;
    height: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    border: 1px solid #1F2641;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #1F2641;
    transition-duration: 0.4s;
}

.towns button:hover{
    background-color: #1F2641;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.town:hover{
    transform: scale(1.05); 
    transition: 0.5s;
}

/* individual town page */

#content{
    color: #FFFFFF;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 60px;
}

#content h2{
    font-size: 35px;
}

#content h3{
    font-size: 25px;
    margin-bottom: 20px;
}

#content ul{
    margin-left: 50px;
}

#content p,
#content ul{
    font-size: 20px;
    margin-bottom: 40px;
}

#content img{
    width: 800px;
    height: 450px;
    border: 8px solid #FFFFFF;
    display: block;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* footer */

.footer{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer p{
    padding: 15px;
}

.footer a{
    color: #1F2641;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

.footer-a{
    margin-bottom: 30px;
}

.footer a:hover{
    text-decoration: underline;
}

.footer #mytrickster-logo{
    background-color: none;
    width: 100px;
    height: 60px;
    margin-top: 30px;
}

@media only screen and (min-width: 1360px){
    /* .towns{
        padding-left: 100px;
    } */
    .towns{
        margin-left: 125px;
        margin-right: 125px;

    }

    #content{
        margin-left: 120px;
        margin-right: 120px;
    }
    
}

@media only screen and (min-width: 1440px){
    /* .towns{
        padding-left: 120px;
    } */

    .towns{
        margin-left: 150px;
        margin-right: 150px;

    }

    .image{
        /* width: 480px; */
        /* height: 285px; */
        width: 90%;
        height: 50%;
    }

    #content{
        margin-left: 150px;
        margin-right: 150px;
    }
    
}

@media only screen and (min-width: 1680px){
    /* .towns{
        padding-left: 140px;
    } */

    .towns{
        margin-left: 275px;
        margin-right: 275px;

    }

    .image{
        height: 50%;
    }

    #content{
        margin-left: 275px;
        margin-right: 275px;
    }
    
}

@media only screen and (min-width: 1920px){
    /* .towns{
        padding-left: 140px;
    } */

    .towns{
        margin-left: 375px;
        margin-right: 375px;
    }

    .image{
        /* width: 100%; */
        width: 90%;
        height: 50%;
        /* height: 80%; */
    }

    #content{
        margin-left: 375px;
        margin-right: 375px;
    }

}

@media only screen and (max-width: 1024px){
    .towns{
        margin-left: 50px;
        margin-right: 50px;
    }

    .image{
        width: 90%;
        height: 40%;
    }

    .title,
    .desc{
        font-size: 17px;
    }

    #content img{
        width: 600px;
        height: 320px;
    }
}

@media only screen and (max-width: 767px){
    .navbar a{
        font-size: 13px;
    }

    #mytrickster-logo{
        width: 80px;
        height: 40px;
    }

    .towns{
        grid-template-columns: repeat(1, 1fr);
    }

    .towns button{
        width: 80px;
        height: 30px;
        font-size: 15px;
    }

    .image{
        width: 95%;
        height: 50%;
        margin: 15px;
    }

    .title,
    .desc{
        font-size: 18px;
    }

    #content{
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 60px;
    }

    #content img{
        width: 380px;
        height: 280px;
    }

    .footer p{
        font-size: 12px;
    }

    .footer a{
        font-size: 12px;
        margin: 10px;
    }

    .footer #mytrickster-logo{
        width: 80px;
        height: 50px;
        margin-top: 20px;
    }

    
}

@media only screen and (max-width: 480px){
    .navbar a{
        font-size: 13px;
    }

    #mytrickster-logo{
        width: 80px;
        height: 40px;
    }

    .image{
        width: 90%;
        height: 40%;
        margin: 15px;
    }

    .title{
        font-size: 15px;
    }

    .desc{
        margin-top: 0px;
        font-size: 15px;
    }

    .towns{
        grid-template-columns: repeat(1, 1fr);
    }

    #content img{
        width: 320px;
        height: 250px;
    }

    #content p,
    #content ul{
        font-size: 15px;
        margin-bottom: 40px;
    }

    .footer p{
        font-size: 10px;
    }

    .footer a{
        font-size: 10px;
        margin: 10px;
    }
    
    .footer #mytrickster-logo{
        width: 80px;
        height: 50px;
        margin-top: 20px;
    }
}